{% macro card(title, description, music_url, img_url)%}

<a href="{{ music_url }}" target="_blank">
    <div class="cursor-pointer sm:w-[15rem] w-[10rem] p-1 text-white hover:bg-zinc-800 transition duration-100">
        <img src="{{ url_for('static', filename='uploads/' ~ img_url) }}" class="rounded-lg w-full">
        <div class="">
            <h4 class="text-lg text-white">{{ title }}</h4>
            <p class="text-sm font-bold text-zinc-500">{{ description }}</p>
        </div>
    </div>
</a>

{% endmacro %}