<div class="fixed w-full h-full bg-black opacity-60 z-[100]"></div>
<form 
action="{{ url_for('homepage') }}"
method="POST" 
enctype="multipart/form-data"
class="fixed z-[101] top-[25%] sm:left-[30%] left-[23%] sm:w-[640px] w-[250px] bg-[#212121] border-[0.5px] p-[30px] border-zinc-700">
    <header class="flex justify-start items-center pb-[30px]">
        <h2 class="text-xl">New music</h2>
    </header>

    <div class="flex flex-col gap-5 pb-[30px]">
        <input name="title" class="bg-transparent outline-none w-full font-normal text-lg border-b border-zinc-700 focus:border-blue-700 transition duration-100" type="text" placeholder="Title">
        <input name="description" class="bg-transparent outline-none w-full font-normal text-lg border-b border-zinc-700 focus:border-blue-700 transition duration-100" type="text" placeholder="Description">
        <input name="url_music" class="bg-transparent outline-none w-full font-normal text-lg border-b border-zinc-700 focus:border-blue-700 transition duration-100" type="text" placeholder="Music URL">
        <div class="w-full">
            <input type="file" id="inputFile" name="img_music" class="outline-none w-full font-normal text-lg border-b border-zinc-700 focus:border-blue-700 transition duration-100 opacity-100" placeholder="Title">
        </div>
    </div>

    <footer class="flex justify-end items-center gap-3">
        <button type="button" class="font-normal text-md hover:opacity-50 transition duration-50" onclick="TogglePopup()">Cancel</button>
        <button type="submit" class="font-semibold text-md px-3 py-2 rounded-full bg-white text-black hover:opacity-50 transition duration-50" type="submit" onclick="HandleImageFile()">Submit</button>
    </footer>
</form>

<script src="{{url_for('static', filename='scripts/togglePopup.js')}}"></script>